<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snapchat</title>
</head>
<body>
    <form action="/chats" method="post">
        <input type="text" name="from" id="form" placeholder="who are you">
        <textarea name="message" id="message" placeholder="write your message here"></textarea>
        <input type="text" placeholder="receiver name" name="to">
        <button>Creat chat</button>
    </form>
</body>
</html>