<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, recusandae nulla quaerat ex exercitationem, accusantium fuga, corporis quibusdam quos totam sequi in labore quam cumque ratione eligendi ea! Tenetur, dolor.</p>
</body>
</html>