<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roll</title>
</head>
<body>
    <h1>Your dice value is : <%=num%> </h1>
    <% if(num==6){%>
     <h1>Nice roll</h1> 
    <% } %>
    <%for(input of value){%>
        <li><%= input %></li>
    <%}%>
</body>
</html>