<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>welcom to our website</h1>
    <h1>total no of user are <%=count%></h1>
    <button>join us</button>
</body>
</html>